<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/myDoc/org.learning.project.automation.api"><classes><class name="petStore.Pet.PetStorePetTests"><methods><include name="getPetStorePetsByStatusTest"/><include name="postPetStorePetTest"/><include name="postPetStorePetByIDTest"/><include name="deletePetByIDTest"/><include name="getPetByIDTest"/></methods></class><class name="petStore.Store.PetStoreStoreTests"><methods><include name="getPetStoreInventoryTest"/><include name="postPetStoreOrderTest"/><include name="getPetStoreOrderByIDTest"/><include name="deleteOrderByIDTest"/></methods></class><class name="petStore.User.PetStoreUserTests"><methods><include name="postPetStoreUserTest"/><include name="getPetStoreUserByUserName"/><include name="deletePetStoreUserByUserName"/></methods></class></classes></test></suite>